<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":"0","blockGap":"0"}},"className":"buddyvibes-front-page","layout":{"type":"constrained"}} -->
<main class="wp-block-group buddyvibes-front-page" style="margin:0;padding-top:0;padding-bottom:0">
<!-- wp:pattern {"slug":"buddyvibes/template-home-community"} /-->
</main>
<!-- /wp:group -->
<!-- wp:group {"align":"full","tagName":"footer","style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":"0","blockGap":"0"}},"className":"site-footer","layout":{"type":"constrained"}} -->
<footer class="wp-block-group alignfull site-footer" style="margin:0;padding-top:0;padding-bottom:0">
<!-- wp:pattern {"slug":"buddyvibes/template-footer"} /-->
</footer>
<!-- /wp:group -->
