<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0px"}}},"backgroundColor":"background","layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group has-background-background-color has-background" style="padding-top:0px">
	<!-- wp:group {"align":"full","style":{"elements":{"link":{"color":{"text":"var:preset|color|background"}}},"spacing":{"blockGap":"0","margin":{"top":"0px","bottom":"0px"},"padding":{"bottom":"0px"}}},"backgroundColor":"quaternary","textColor":"background","className":"content-header","layout":{"type":"constrained","justifyContent":"center"}} -->
	<div class="wp-block-group alignfull content-header has-background-color has-quaternary-background-color has-text-color has-background has-link-color" style="margin-top:0px;margin-bottom:0px;padding-bottom:0px">
		<!-- wp:site-title {"isLink":false,"style":{"elements":{"link":{"color":{"text":"var:preset|color|background"}}}},"textColor":"background"} /-->
		<!-- wp:site-tagline {"style":{"typography":{"fontStyle":"italic","fontWeight":"300"}}} /-->
		<!-- wp:pattern {"slug":"buddyvibes/template-blog-header"} /-->
	</div>
	<!-- /wp:group -->
	<!-- wp:query -->
	<div class="wp-block-query">
		<!-- wp:post-template -->
			<!-- wp:group {"tagName":"article","style":{"border":{"radius":"6px","color":"#f0f0f1","width":"1px"},"shadow":"var:preset|shadow|tight","spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}}},"backgroundColor":"background","className":"entry","layout":{"inherit":true,"type":"constrained"}} -->
			<article class="wp-block-group entry has-border-color has-background-background-color has-background" style="border-color:#f0f0f1;box-shadow:var(--wp--preset--shadow--tight);border-width:1px;border-radius:6px;padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)">
				<!-- wp:group {"tagName":"section","className":"entry-header","layout":{"type":"flex","flexWrap":"wrap","orientation":"horizontal","justifyContent":"space-between"}} -->
				<section class="wp-block-group entry-header">
					<!-- wp:post-author {"avatarSize":40,"isLink":true} /-->
					<!-- wp:post-date /-->
				</section>
				<!-- /wp:group -->
				<!-- wp:group {"tagName":"section","className":"entry-body","layout":{"inherit":true}} -->
				<section class="wp-block-group entry-body">
					<!-- wp:post-title {"isLink":true,"level":2} /-->
					<!-- wp:post-featured-image {"isLink":true} /-->
					<!-- wp:spacer {"height":"10px"} -->
					<div style="height:10px" aria-hidden="true" class="wp-block-spacer"></div>
					<!-- /wp:spacer -->
					<!-- wp:group {"className":"entry-excerpt","layout":{"inherit":true}} -->
					<div class="wp-block-group entry-excerpt">
						<!-- wp:post-excerpt /-->
					</div>
					<!-- /wp:group -->
				</section>
				<!-- /wp:group -->
				<!-- wp:group {"tagName":"section","className":"entry-footer","layout":{"inherit":true}} -->
				<section class="wp-block-group entry-footer">
					<!-- wp:pattern {"slug":"buddyvibes/template-post-footer"} /-->
				</section>
				<!-- /wp:group -->
			</article>
			<!-- /wp:group -->
		<!-- /wp:post-template -->
		<!-- wp:query-pagination {"paginationArrow":"arrow","layout":{"type":"flex","justifyContent":"space-between"}} -->
			<!-- wp:query-pagination-previous /-->
			<!-- wp:query-pagination-next /-->
		<!-- /wp:query-pagination -->
	</div>
	<!-- /wp:query -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
